/* Spin */

.sk-cube-grid {
    position: fixed;
    z-index: 9999;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #FF0B0B;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1); 
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

/* Helpers */

    /* Font Awesome */

    .fa.fa-1-5 {
        font-size: 1.5em;
    }

    .fa.fa-2 {
        font-size: 2em;
    }

    /* Margin top */

    .m-t-5 {
        margin-top: 5px!important;
    }

    .m-t-10 {
        margin-top: 10px!important;
    }

    .m-t-15 {
        margin-top: 15px!important;
    }

    .m-t-20 {
        margin-top: 20px!important;
    }

    .m-t-25 {
        margin-top: 25px!important;
    }

    .m-t-30 {
        margin-top: 30px!important;
    }

    /* Margin left */

    .m-l-5 {
        margin-left: 5px!important;
    }

    .m-l-10 {
        margin-left: 10px!important;
    }

    .m-l-15 {
        margin-left: 15px!important;
    }

    .m-l-20 {
        margin-left: 20px!important;
    }

    .m-l-25 {
        margin-left: 25px!important;
    }

    .m-l-30 {
        margin-left: 30px!important;
    }

    /* Margin Right */

    .m-r-5 {
        margin-right: 5px!important;
    }

    .m-r-10 {
        margin-right: 10px!important;
    }

    .m-r-15 {
        margin-right: 15px!important;
    }

    .m-r-20 {
        margin-right: 20px!important;
    }

    .m-r-25 {
        margin-right: 25px!important;
    }

    .m-r-30 {
        margin-right: 30px!important;
    }

    /* Bottom */

    .m-b-5 {
        margin-bottom: 5px!important;
    }

    .m-b-10 {
        margin-bottom: 10px!important;
    }

    .m-b-15 {
        margin-bottom: 15px!important;
    }

    .m-b-20 {
        margin-bottom: 20px!important;
    }

    .m-b-25 {
        margin-bottom: 25px!important;
    }

    .m-b-30 {
        margin-bottom: 30px!important;
    }

    .separator:after {
        border-bottom: solid 1px black;
        border-spacing: 10px;
        width: 100%;
    }

/* Header */

#header {
    
}

#brand h1 {
    margin: 0;
    line-height: 51px;
}

#brand, #brand-logo, #back-to-home {
    border: solid 1px black;
}

#brand-logo img {
    width: 100%;
    height: auto;
}

#back-to-home {
    padding: 5px 15px;
}

#back-to-home a {
    /*padding: 10px 15px;*/
}

/* Home */

#filters-container {
    border: solid 1px black;
    padding: 24px 0 10px 0;
}

#filters-container label.middle {
    line-height: 34px;
}

#search-container {
    margin-top: -10px;
    width: 173px;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 15px;
}

#search-container #submit-filters {
    width: 26px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

#search-container #submit-filters:hover {
    color: #337ab7;
}

#search-container #search-label {
}

.show .show-header h5 {
    width: 370px;
}

.show .show-info .link_to_show {
    text-decoration: underline;
}

.show .show-info .part-one,
.show .show-info .part-one span,
.show .show-info .part-two,
.show .show-info .part-two span,
.show .show-info .part-two a {
    padding: 0;
}

.show .show-info .part-two {
    text-align: right;
}

.thumbnail {
    background-size: cover;
    width: 370px;
    height: 300px;
}

.pagination li span {
    cursor: pointer;
}